<%= render "navbar" %>
<div class="container">
  <div class="row">

    <div class="col-12 d-flex justify-content-center mb-4">
      <%= image_tag "Luca_148.jpg", style: "width: 140px; height: 140px; object-fit: cover; object-position: top; border-radius: 50%; box-shadow: 0px 0px 172px 0px var(--bs-white);" %>
    </div>

    <div class="col-12 d-flex justify-content-center mb-4">
      <p>Full-stack developer</p>
    </div>

    <div class="col-12 d-flex justify-content-center mb-4">
      <p>Welcome! you are the visitor number <%= @ip.counter %> </p>
    </div>

    <div class="col-12 d-flex justify-content-center mb-4">
      <h1>Luca Damiano Di Vittorio</h1>
    </div>

    <div class="col-12 col-md-6 d-flex justify-content-center mb-4">
      <p><i class="fa-solid fa-location-dot"></i> London, UK</p>
    </div>

    <div class="col-12 col-md-6 d-flex justify-content-center mb-4">
      <p><i class="fa-solid fa-comment-dots"></i> English, Italian, Spanish</p>
    </div>

    <div class="col-12 d-flex justify-content-center mb-4">
      <%= link_to "See portfolio", portfolio_path, class: "my-button" %>
    </div>

    <hr>

    <div class="col-12 d-flex justify-content-center mb-4">
      <h3>Bio:</h3>
    </div>

    <div class="col-12 d-flex justify-content-center mb-4">
      <p>
        I consider myself a citizen of the world, I was <em>born and raised in <strong>Rome (Italy)</strong> and I am currently based in <strong>London (UK)</strong></em>. <br>
        I have always been passionate about computers starting at 14 when I assembled my first desktop computer from scratches and I was helping in a local shop fixing computers. <br>
        During the lockdowns I have grown interest in the <strong>software developing</strong> part of it and I have started to follow some tutorials online about HTML and CSS. <br>
        In 2022 I have then decided to step-up my skills so I enrolled and <strong>Graduated</strong> from <strong><em>Le Wagon</em></strong> coding bootcamp (June 2022) where I specialised in <strong>Ruby</strong> coding language and <strong>Rails framework</strong>, I am a qualified web developer
        with experience in <strong>object oriented programming</strong>, <strong>test driven development</strong> and use of <strong>databases</strong>.<br>
        I am always striving to learn something new everyday thanks majorly to my <strong>creative</strong> and <strong>analytical skills</strong> and also to my big <strong>curiosity</strong>.<br> <br>
        My philosophy in life is:<br>
        <em>“Live as if you were to die tomorrow. Learn as if you were to live forever.” -M.G.-</em>
      </p>
    </div>

    <%# <hr>

    <div class="col-12 d-flex justify-content-center mb-4">
      <a href="mailto:luca.div@hotmail.com" class="my-button">Get in touch</a>
    </div> %>

    <hr>

    <div class="col-12 d-flex justify-content-center mb-4">
      <h3>Skills:</h3>
    </div>

    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-start mb-4">
      <ul>
        <li>Ruby</li>
      </ul>
    </div>

    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-start mb-4">
      <ul>
        <li>Ruby on rails</li>
      </ul>
    </div>

    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-start mb-4">
      <ul>
        <li>JavaScript</li>
      </ul>
    </div>

    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-start mb-4">
      <ul>
        <li>PostgreSQL</li>
      </ul>
    </div>

    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-start mb-4">
      <ul>
        <li>HTML</li>
      </ul>
    </div>

    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-start mb-4">
      <ul>
        <li>CSS</li>
      </ul>
    </div>

    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-start mb-4">
      <ul>
        <li>Bootstrap</li>
      </ul>
    </div>

    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-start mb-4">
      <ul>
        <li>TDD</li>
      </ul>
    </div>

    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-start mb-4">
      <ul>
        <li>Version Control</li>
      </ul>
    </div>

    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-start mb-4">
      <ul>
        <li>Github</li>
      </ul>
    </div>

    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-start mb-4">
      <ul>
        <li>Heroku</li>
      </ul>
    </div>

  </div>
  <hr>
<%= render "footer" %>
</div>
