<!DOCTYPE html>
<html>
  <head>
    <title>ProfilePage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:image" content="/app/assets/images/preview.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="my-background">
    <%= yield %>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script>
      var typed = new Typed(".mov",{
      strings: [,  "Luca Damiano","Di Vittorio","Web Developer"] ,
      typeSpeed: 90,
      backSpeed: 40,
      loop: false

      })
  </script>
</html>
